.coming-soon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 200px);
  padding: 40px 20px;
  width: 100%;
}

.coming-soon-content {
  text-align: center;
  max-width: 500px;
}

.coming-soon-icon {
  font-size: 64px;
  margin-bottom: 24px;
}

.coming-soon-title {
  font-size: 32px;
  font-weight: 600;
  color: #333;
  margin: 0 0 16px 0;
}

.coming-soon-message {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin: 0;
}

